In [1]:
import numpy as np
import matplotlib.pyplot as plt 
import pandas as pd
import gmaps
import gmaps.datasets
import gmplot

In [2]:
df = pd.read_csv("racc.csv",delimiter=":")
cords = df['corrds']

In [3]:
df.dtypes

corrds             object
time               object
raccoons_bought    object
dtype: object

In [4]:
df.head(10)

                corrds       time raccoons_bought
0  55.771393 37.567392  4423O3138               2
1  55.705458 37.550926  442365718               0
2   55.83028 37.404815  442244596               0
3  55.799092 37.452157  442327511       148.00001
4  55.749785 37.763962  442248573               1
5  55.798212 37.529313  44235598O             100
6  55.763579 37.623798  442O76325               4
7  55.655097 37.533652  44198O427             "0"
8     55.754 37.669288  442229555             "3"
9   55.652781 37.53367  442O65331               4

In [5]:
df['raccoons_bought'] = pd.to_numeric(df['raccoons_bought'].str.replace('"', ''))
df = df.replace("\O", "0", regex=True)
df['time'] = pd.to_numeric(df['time'])
df['time'] = pd.to_datetime(df['time'], unit='s')
df['x'], df['y'] = df['corrds'].str.split(' ', 1).str
df['x'], df['y'] = pd.to_numeric(df['x']), pd.to_numeric(df['y'])
df = df.drop('corrds',axis=1)

In [6]:
df.head(10)

                 time  raccoons_bought          x          y
0 1984-01-07 05:58:58          2.00000  55.771393  37.567392
1 1984-01-07 23:21:58          0.00000  55.705458  37.550926
2 1984-01-06 13:43:16          0.00000  55.830280  37.404815
3 1984-01-07 12:45:11        148.00001  55.799092  37.452157
4 1984-01-06 14:49:33          1.00000  55.749785  37.763962
5 1984-01-07 20:39:40        100.00000  55.798212  37.529313
6 1984-01-04 14:58:45          4.00000  55.763579  37.623798
7 1984-01-03 12:20:27          0.00000  55.655097  37.533652
8 1984-01-06 09:32:35          3.00000  55.754000  37.669288
9 1984-01-04 11:55:31          4.00000  55.652781  37.533670

In [7]:
df.dtypes

time               datetime64[ns]
raccoons_bought           float64
x                         float64
y                         float64
dtype: object

In [8]:
df["raccoons_bought"] = df["raccoons_bought"].astype(int)

In [9]:
df.head(10)

                 time  raccoons_bought          x          y
0 1984-01-07 05:58:58                2  55.771393  37.567392
1 1984-01-07 23:21:58                0  55.705458  37.550926
2 1984-01-06 13:43:16                0  55.830280  37.404815
3 1984-01-07 12:45:11              148  55.799092  37.452157
4 1984-01-06 14:49:33                1  55.749785  37.763962
5 1984-01-07 20:39:40              100  55.798212  37.529313
6 1984-01-04 14:58:45                4  55.763579  37.623798
7 1984-01-03 12:20:27                0  55.655097  37.533652
8 1984-01-06 09:32:35                3  55.754000  37.669288
9 1984-01-04 11:55:31                4  55.652781  37.533670

In [10]:
df = df.drop(df[df.raccoons_bought < 500].index)

In [11]:
df

                     time  raccoons_bought          x          y
8668  1984-01-06 19:52:34              500  55.687188  37.551277
11497 1984-01-02 16:43:16              500  55.773702  37.599220
32167 1984-01-07 02:40:47              500  55.727511  37.564931

In [17]:
gmaps.configure(api_key="AIzaSyBA1TG4KfXDJ-bS-NWXjnDgLwrhuheaKwc ")

In [18]:
#corrd = pd.read_csv("coordinates.csv")

In [19]:
marker_locations = [
    (55.687188,37.551277),
    (55.773702,37.599220),
    (55.727511,37.564931)
]

fig = gmaps.figure()
markers = gmaps.marker_layer(marker_locations)
fig.add_layer(markers)
fig

Figure()

In [23]:

gmplot(marker_locations, 'cornflowerblue', edge_width=10)
gmap = gmplot.from_geocode("San Francisco")

TypeError: 'module' object is not callable

In [24]:

earthquake_df = gmaps.datasets.load_dataset_as_df("earthquakes")
earthquake_df.head()
locations = earthquake_df[["latitude", "longitude"]]
weights = earthquake_df["magnitude"]
fig = gmaps.figure()
fig.add_layer(gmaps.heatmap_layer(locations, weights=weights))
fig

AttributeError: module 'gmaps' has no attribute 'datasets'